@model WebApplication2.Models.Calculator

@{
    Layout = null;
}

<!DOCTYPE html>

<h2>CalculatorView</h2>
@using (Html.BeginForm())
{
    <div>
        <label>Input A </label> 
        @Html.EditorFor(model => model.Input1)
       
    </div>
    <br />
    <div>
        <label>Operator</label>
        @Html.EditorFor(model => model.Operator)
    </div>
    <br />
    <div>
        <label>Input B </label> @Html.EditorFor(model => model.Input2)
    </div>
    <br />
    <div>
        <input type="submit" id="calculate" value="Calculate" />
    </div>
    <br />
    <div>
        <label>Result: </label>@Html.DisplayFor(model => model.Result)
    </div>
}
